# General
.env
.env.*
!.env.example
*.log
*.swp
~*.docx
\#*\#
.\#*
.DS_Store
**/.DS_Store
Thumbs.db
.settings
.vscode/
**/.vscode/*
!**/.vscode/tasks.json
!**/.vscode/settings.template.json
!**/.vscode/launch.template.json
!**/.vscode/extensions.json
.idea/
.idea
**/.vs

# C
*.d
*.o
*.ko
*.obj
*.elf
*.ilk
*.map
*.exp
*.gch
*.pch
*.lib
*.a
*.la
*.lo
*.dll
*.so
*.so.*
*.dylib
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex
*.dSYM/
*.su
*.idb
*.pdb
*.mod*
*.cmd
*.dwo
*.ii
*.s
*.asm
*.gcda
*.gcno
*.gcov
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
compile_commands.json
CMakeFiles/
CMakeCache.txt
cmake-build-*/

# Go
*.test
coverage.out

# JavaScript
node_modules/
.node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*
.npm/
.pnpm-store/
.parcel-cache/
.next/
.nuxt/
.svelte-kit/
.turbo/
.vite/
coverage/
package-lock.json
yarn.lock
.eslintcache
*v8.log

# Python
*.pyc
*.pyo
*.pyd
__pycache__/
.Python
build/
dist/
wheels/
*.egg-info/
*.egg
venv/
env/
.venv/
lib/
lib64/
include/
bin/
share/
.ipynb_checkpoints
.coverage
.pytest_cache/
.ruff_cache/
.mypy_cache/
.tox/
.nox/
htmlcov/
local_settings.py

# Rust
debug
target
**/*.rs.bk
**/mutants.out*/
*.profraw

# TypeScript
built/*
tests/cases/rwc/*
tests/cases/perf/*
!tests/cases/webharness/compilerToString.js
test-args.txt
tests/baselines/local/*
tests/baselines/local.old/*
tests/services/baselines/local/*
tests/baselines/prototyping/local/*
tests/baselines/rwc/*
tests/baselines/reference/projectOutput/*
tests/baselines/local/projectOutput/*
tests/baselines/reference/testresults.tap
tests/baselines/symlinks/*
tests/services/baselines/prototyping/local/*
tests/services/browser/typescriptServices.js
src/harness/*.js
src/compiler/diagnosticInformationMap.generated.ts
src/compiler/diagnosticMessages.generated.json
src/parser/diagnosticInformationMap.generated.ts
src/parser/diagnosticMessages.generated.json
rwc-report.html
build.json
*.actual
tests/webTestServer.js
tests/webTestServer.js.map
tests/webhost/*.d.ts
tests/webhost/webtsc.js
tests/cases/**/*.js
tests/cases/**/*.js.map
*.config
scripts/eslint/built/
scripts/debug.bat
scripts/run.bat
scripts/**/*.js
scripts/**/*.js.map
internal/
!tests/cases/projects/projectOption/**/node_modules
!tests/cases/projects/NodeModulesSearch/**/*
!tests/baselines/reference/project/nodeModules*/**/*
.parallelperf.*
tests/baselines/reference/dt
.failed-tests
TEST-results.xml
/lib/
*.tsbuildinfo
