<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>All Tasks</title>
  </head>
  <body>
    <h1>All Tasks</h1>
    <a href="{{ url_for('task') }}">Add new task</a>
    <ul>
      {% for task in tasks %}
        <li>
          <strong>Title:</strong> {{ task.title }} <br />
          <strong>Description:</strong>{{ task.description }} <br />
          <strong>Priority:</strong> {{ task.priority }} <br />
          <form action="{{ url_for('update_task_status', task_id=task.id) }}" method="POST">
            <input type="checkbox" name="is_complete" {% if task.is_complete %}checked{% endif %} onchange="this.form.submit()" />
            <strong>Is complete:</strong> {{ task.is_complete }} <br />
          </form>
          <form action="{{ url_for('delete_task', task_id=task.id) }}" method="POST">
            <input type="submit" value="Delete" />
          </form>
        </li>
      {% else %}
        <li>No tasks</li>
      {% endfor %}
    </ul>
  </body>
</html>
