<h1>Welcome <%= user.email %>!</h1>

<div class="row">
  <div class="col-8">
    <h3>Items for sale</h3>
    <ol>
      <% items.forEach((item) => { %>
      <li>
        <div class="item">
          <%= item.name %><br />
          <%= item.description %><br />
          <%= item.price %><br />
          <button>Add</button>
        </div>
      </li>
      <% }); %>
    </ol>
  </div>
  <div class="col-4">
    <h3>My items</h3>
  </div>
</div>