<h1>Admin Page</h1>

<div class="row">
  <div class="col-6">
    <form action="/admin/add-item" method="post">
      <input type="text" name="name" id="name" placeholder="name" /> <br />
      <input
        type="text"
        name="description"
        id="description"
        placeholder="description"
      />
      <br />
      <input type="text" name="price" id="price" placeholder="price" /> <br />
      <input type="submit" value="Add item" />
    </form>
  </div>
  <div class="col-6">
    <h3>Current items</h3>
    <ol>
      <% items.forEach((item) => { %>
      <li>
        <div class="item">
          <%= item.name %><br />
          <%= item.description %><br />
          <%= item.price %><br />
          <button>Add</button>
        </div>
      </li>
      <% }); %>
    </ol>
  </div>
</div>
