<h1>Reset password</h1>

<form action="/account/new-password" method="post">
  <input
    id="password1"
    type="password"
    name="password1"
    placeholder="Enter new password"
  />
  <input
    id="password2"
    type="password"
    name="password2"
    placeholder="Re-type password"
  />
  <input id="nonce" type="hidden" name="nonce" value=<%= nonce %> />
  <input id="id" type="hidden" name="id" value=<%= id %> />
  <input type="submit" value="Reset password" />
</form>
